
@{
    ViewData["Title"] = "Index2";
}

<h1>  website Drona</h1>
<ul class = "list">
  <li class = "color-item">Coffee</li>
  <li class = "color-item">Tea</li>
  <li class = "color-item">Milk</li>
</ul>

<div class = "text-center">

    <nav class="nav nav-pills flex-column flex-sm-row">

         <a class="flex-sm-fill text-sm-center nav-link" asp-controller= "Home" asp-action="Print_Value"> #1 </a>
         <a class="flex-sm-fill text-sm-center nav-link" asp-controller= "Home" asp-action="Privacy"> #2</a>
         <a class="flex-sm-fill text-sm-center nav-link" asp-controller= "Home" asp-action="Print_info"> #3</a>
         <a class="flex-sm-fill text-sm-center nav-link" asp-controller= "Home" asp-action="Print_Collection"> #4</a>
         <a class="flex-sm-fill text-sm-center nav-link" asp-controller= "Home" asp-action="Print_Collection_int"> #5</a>
    </nav>
   

 </div>
