
@{
    ViewData["Title"] = "Print_info";
}

<h1>Print_info wer  </h1>
<p>Айтишный домосед <a href="https://www.youtube.com/watch?v=o0KzvySMoXw&list=PLeY40vx99GXYyV4gIJVqL0R2aDJQ60mNW&index=2"> ASP.NET Core: урок №2</a>.</p>

